.footer {
    background-color: white;
    color: #343a40;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: auto;
  }


  .socialIcons {
    display: flex;
    gap: 20px; /* Space between icons */
    margin-bottom: 10px; /* Space between icons and contact section */
    justify-content: center;
  }

  .icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffc107;
    border-radius: 50%;
    color: #343a40;
    font-size: 15px;
    text-decoration: none;
    transition: all 0.3s ease;
  }

  .icon:hover {
    background-color: #e0a800;
    transform: scale(1.1);
  }

  .contactSection {
    text-align: center;
    font-size: 0.9rem;
  }

  .contactLink {
    color: #ffc107;
    text-decoration: none;
    font-weight: bold;
  }

  .contactLink:hover {
    text-decoration: none;
  }

  .copyright {
    font-size: 0.8rem;
    color: #666;
    text-align: center;
    margin-bottom: -20px;
  }