.projectsHeading {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #6b705c;
}

.sliderItem {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 50px;
}

/* Arrows Styling */
:global(.slick-prev),
:global(.slick-next) {
    font-size: 0;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: background 0.3s ease;
}

:global(.slick-prev:hover),
:global(.slick-next:hover) {
    background: rgba(0, 0, 0, 0.6);
}

:global(.slick-prev:before),
:global(.slick-next:before) {
    font-size: 20px;
    color: #ffc107;
}

:global(.slick-dots) {
    margin-bottom: 50px;
}

.card {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    min-height: 470px; /* Set consistent height */
    margin: 0 auto;
    display: flex;
    flex-direction: column; /* Make it column-based */
    justify-content: space-between; /* Space items within card */
}

.cardImage {
    width: 100%;
    max-height: 200px;
    height: 200px;
    object-fit: cover;
    margin: 0 auto 15px;
    /* Add spacing below the image */
    border-radius: 8px;
}

.cardBody {
    padding: 15px;
}

.cardTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 0;
    color: #343a40;
}

/* Adjust for desktop */
.cardText {
    font-size: 1rem;
    margin-bottom: 15px;
    /* Add spacing below text */
    color: #555;
    line-height: 1.6;
    /* Improve readability */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: unset;
    /* No truncation on desktop by default */
    -webkit-box-orient: vertical;
    transition: max-height 0.3s ease-in-out;
}

/* Hide "Read More" button on desktop */
.readMoreButton {
    display: none;
    /* Hide by default */
}


/* Buttons */
.viewLiveButton,
.repoButton {
    text-decoration: none;
    padding: 10px 20px;
    /* Add padding for better spacing */
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease;
    display: inline-block;
    /* Ensure buttons are inline */
    width: auto;
    /* Adjust width for side-by-side layout */
    text-align: center;
    margin-top: 10px;
}

.viewLiveButton {
    background-color: #ffc107;
    color: #4d4747;
    border: none;
}

.viewLiveButton:hover {
    background-color: #e0a800;
    color: #4d4747;
}

.repoButton {
    background-color: #6b705c;
    color: #fff;
}

.repoButton:hover {
    background-color: #4f5543;
}

.btnContainer {
    display: flex;
    justify-content: center;
    /* Center buttons */
    gap: 10px;
    /* Add spacing between buttons */
    margin-top: auto;
    /* Add spacing above buttons */
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    .projectsHeading {
        font-size: 1.5rem;
        margin-bottom: 15px;
    }

    .card {
        width: 95%;
        /* Reduce card width */
        min-height: 470px;
        margin: 0 auto;
        padding: 15px;
    }

    .cardImage {
        /*max-width: 250px;*/
        max-height: 150px;
        height: 150px;
        object-fit: cover;
    }

    .cardTitle {
        font-size: 1.2rem;
    }


    .cardText {
        font-size: 0.9rem;
        line-height: 1.4;
        -webkit-line-clamp: 3;
        /* Limit text to 3 lines on mobile */
    }

    .cardText.expanded {
        -webkit-line-clamp: unset;
        /* Remove truncation */
        max-height: none;
        /* Allow full text display */
    }

    .readMoreButton {
        font-size: 0.85rem;
        border: none;
        border-radius: 3px;
        margin-bottom: 10px;
        color: #000;
        display: inline;
        /* Show only on mobile */
    }

    .btnContainer {
        flex-direction: row;
        /* Arrange buttons in a row */
        gap: 10px;
        /* Ensure consistent spacing */
    }

    .viewLiveButton,
    .repoButton {
        padding: 10px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 12px;
        transition: all 0.3s ease;
        display: inline-block;
        /* Ensure buttons are inline */
        width: auto;
        /* Adjust width for side-by-side layout */
        text-align: center;
    }

    :global(.slick-dots) {
        bottom: -20px;
    }

    .sliderItem {
        margin-bottom: 70px;
    }
}