.projectsHeading {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #6b705c;
    /* Olive Green */
}

.sliderItem {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Arrows Styling */
:global(.slick-prev),
:global(.slick-next) {
    font-size: 0;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: background 0.3s ease;
}

:global(.slick-prev:hover),
:global(.slick-next:hover) {
    background: rgba(0, 0, 0, 0.6);
}

:global(.slick-prev:before),
:global(.slick-next:before) {
    font-size: 20px;
    color: #ffc107;
}

.card {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 0 auto;
}

.cardImage {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    border-radius: 8px;
}

.cardBody {
    padding: 15px;
}

.cardTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 0;
    color: #343a40;
}

.cardText {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #555;
}

.viewLiveButton,
.repoButton {
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.viewLiveButton {
    background-color: #ffc107;
    color: #fff;
}

.viewLiveButton:hover {
    background-color: #e0a800;
}

.repoButton {
    background-color: #6b705c;
    color: #fff;
}

.repoButton:hover {
    background-color: #4f5543;
}