body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: 'Poppins', sans-serif;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

p,
a,
li {
    font-weight: 300;
}

a {
    transition: color ease-in-out 0.3s;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #333;
}
